<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Tsega Ephrem</title>
    <link rel="icon" href="{{ url_for('static', filename='images/T.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--navigation menu-->
    <header>
        <div class="nav-container">
            <div class="logo">
                <span>Tsega</span>
            </div>
            <div class="links">
                <div class="link"><a href="{{ url_for('index') }}">Home</a></div>
                <div class="link"><a href="{{ url_for('about') }}">About</a></div>
                <div class="link"><a href="{{ url_for('skills') }}">Skills</a></div>
                <div class="link"><a href="{{ url_for('projects') }}">Projects</a></div>
                <div class="link"><a href="{{ url_for('hobbies') }}">Hobbies</a></div>
                <div class="link"><a href="{{ url_for('contact') }}">Contact</a></div>
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <nav class="mobile-menu">
            <span class="close-icon" onclick="toggleMenu()">×</span>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('skills') }}">Skills</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <!--About section-->

        <section class="about" id="about">
            <div class="content">
                <h1 class="title"><span>About me</span></h1>
                <div class="about-details">
                    <div class="left">
                        <img src="{{ url_for('static', filename='images/tsegaa.jpg') }}" alt="">
                    </div>
                    <div class="right">
                        <div class="topic"></div>
                        <p>You might be wondering why my image is here again. I just liked it 🙂<br> People say I’m a dedicated person, and they’re not wrong 😌. I’m the type who can’t sleep unless I’ve cracked a problem...anything, really. I used to spend my days and nights gaming, but now I’ve traded that for creating games, which is way more fun.  When I’m not coding, you can find me sketching or jamming to music. I used to play football too, but now my ‘free time’ is more like a rare gem, so that’s on hold. I love chatting and exchanging thoughts on anything under the sun, and I’m all ears for other people’s opinions!</p>
                        <div class="button">
                            <a href="{{ url_for('static', filename='MyCV.pdf') }}" download="Tsega's CV">Download CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!--footer section-->

    <footer>
        <div class="text">
            <span>Created By
                <a href="#">Tsega Ephrem</a>
                |&#169;2024 All Rights Reserved.
            </span>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>