<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Tsega Ephrem</title>
    <link rel="icon" href="{{ url_for('static', filename='images/T.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--navigation menu-->
    <header>
        <div class="nav-container">
            <div class="logo">
                <span>Tsega</span>
            </div>
            <div class="links">
                <div class="link"><a href="{{ url_for('index') }}">Home</a></div>
                <div class="link"><a href="{{ url_for('about') }}">About</a></div>
                <div class="link"><a href="{{ url_for('skills') }}">Skills</a></div>
                <div class="link"><a href="{{ url_for('projects') }}">Projects</a></div>
                <div class="link"><a href="{{ url_for('hobbies') }}">Hobbies</a></div>
                <div class="link"><a href="{{ url_for('contact') }}">Contact</a></div>
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <nav class="mobile-menu">
            <span class="close-icon" onclick="toggleMenu()">×</span>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('skills') }}">Skills</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

    </header>
    <main>

        <!--Skill section-->

        <section class="skills" id="skills">
            <div class="content">
                <h2 class="title"><span>My Skills</span></h2>
                <div class="skills-details">
                    <div class="text">
                        <div class="topic">
                            Skills reflects our knowledge
                        </div>
                        <p data-aos="fade-right">In the exciting world of software development, skills are everything! Whether you’re 11 or 81, if you’ve got the skills, you’re golden! I’ve always been a self-learner, constantly pushing myself to master new technologies. With how fast things change in this industry, I make sure to stay on top of the latest trends to keep my skills sharp. Oh, and learning Spline was a blast! The animations and all the cool features really bring your designs to life.<br>

                            My toolkit includes HTML, CSS, JavaScript, Figma, Spline, and Python. I’m always eager to expand my knowledge and dive into new tools and frameworks to create innovative and efficient software solutions.</p>
                    
                    </div>
                    <div class="boxes">
                        <div class="box">
                            <div class="topic">HTML</div>
                            <div class="per"><i class="fa-brands fa-html5"></i></div>
                        </div>
                        <div class="box">
                            <div class="topic">CSS</div>
                            <div class="per"><i class="fa-brands fa-css3-alt"></i></div>
                        </div>
                        <div class="box">
                            <div class="topic">JS</div>
                            <div class="per"><i class="fa-brands fa-js"></i></div>
                        </div>
                        <div class="box">
                            <div class="topic">Python</div>
                            <div class="per"><i class="fa-brands fa-python"></i></div>
                        </div>
                        <div class="box">
                            <div class="topic">Figma</div>
                            <div class="per"><i class="fa-brands fa-figma"></i></div>
                        </div>
                        <div class="box">
                            <div class="topic">Spline</div>
                            <div class="per"><i class="fa-solid fa-paintbrush"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!--footer section-->

    <footer>
        <div class="text"><span>Created By
            <a href="#">Tsega Ephrem</a>
            |&#169;2024 All Rights Reserved.
        </span>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>